@mixin m($t:0,$r:0,$b:0,$l:0) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin p($t:0,$r:0,$b:0,$l:0) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}

.input{
  background-color: #e5b1fc;
  color: #f3f3f3;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  width: 80%;
  height: 2rem;
  position: relative;
  left: 10%;
  border-radius: 20px;
  input{
    border-width: 0;
    background-color: #e5b1fc;
    color: #f3f3f3;
    outline:none
  }
  input::-webkit-input-placeholder{
    color: white;
    font-size:14px;
  }
  .input_1{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 1rem;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .input_2{
    @include m($l:0.6rem)
  }


}