@mixin m($t:0,$r:0,$b:0,$l:0) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin p($t:0,$r:0,$b:0,$l:0) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}
.goods{
  width: 100%;
  text-align: center;
  div:nth-child(1){
  }
  div:nth-child(2){
    font-size:0.75rem;
    @include m($t:0.4rem,$b:0.4rem)
  }
  div:nth-child(3){
    font-size:0.75rem;
    color: red;
  }


}