
@mixin m($t:0,$r:0,$b:0,$l:0) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin p($t:0,$r:0,$b:0,$l:0) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}



.s_t{
  width: 90%;
 @include m($l:5%,$t:0.6rem,$b:0.6rem);
  position: relative;
  height: auto;


  .s_t_1{
    background-color:#e5b1fc;
    width: 100%;
    height: 44px;
    border-radius: 8px 8px 0 0;
    border: solid #f3f3f3 1px;
  }

  .s_t_2{
    background-color: white;
    width: 100%;
    height: 40px;
    border-radius: 0 0 8px 8px;
    border: solid #f3f3f3 1px;
  }
  .s_t_3{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 68px;
    height: 68px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .s_t_4{
    color: white;
    @extend .s_t_3;
    width: auto;
    left: 100px;
    top:20px;
  }
  .s_t_5{
    position: absolute;
    right: 20px ;
    top: 30px;
  }
  .s_t_6{
    position: absolute;
    left: 100px;
    display: flex;
    top: 62px;
    font-size:12px;
    align-items: flex-end;
    div{
      @include m($l:0.2rem,$r:0.2rem)
    }
    >div:nth-child(1){
       width: 1.2rem;
      height: 1.2rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .people{
      color:#d0898f ;
    }
  }

}
