@mixin m($t:0,$r:0,$b:0,$l:0) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin p($t:0,$r:0,$b:0,$l:0) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}
.zuopin{
  .zuopin_2{
    display: flex;
    div{
      flex-grow: 1;
      text-align: center;
      line-height: 2.6rem;
    }
  }
.changecolor{
  color: #666;
  background-color: white;
}
.changecolor2{
  background-color: #cf73d8;
  border: 1px solid #cf73d8;
  color: white;
}
  .mall_goods{
    display: flex;
    flex-wrap: wrap;
    @include m($t:0.8rem,$b:4.8rem);
    >div{
      width: 50%;
    }
  }

}