
.img_text{
  position: relative;
  width: 20% !important;
  .icon img{
    width: 100%;
    height: 100%;
  }
  .icon_text{
    font-size: 0.8rem;
    margin-top: 0.4rem;
    text-align: center;
  }

  .icon{
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
  }
  .num{
    text-align: right;
    position: absolute;
    right: 0px;
    color: #cf73d8;
  }
}